@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    width: 590px
  .hotel
    &-slider
      &__image
        width: 100%
        height: 100%
        object-fit: cover
@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-right: 13px
      padding-left: 13px
      padding-top: 20px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    margin-right: 73px
    &__input
      width: 340px
  .hotel
    &-info
      padding-bottom: 13px
      &__description
        margin-bottom: 7px
  .stars
    margin-bottom: 3px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
      height: 200px
    &-slider
      width: 100%
  .booking
    min-width: 340px
    padding-right: 22px
    padding-left: 24px
  .map
    width: 340px
  .reviews
    &-slider
      &__item
        max-width: 579px
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
    .menu
      &-button
        display: flex
        width: 16px
        height: 11px
        padding: 0
        align-items: center
        justify-content: space-between
        flex-direction: column
        border: none
        background-color: $light
        &__line
          width: 16px
          height: 1px
          background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
      &-slider
        height: 350px
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &:before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -65px
          transform: translate(50%, 0)
@media (max-width: 576px)
  .container
    max-width: 87%
  .logo
    width: 99px
  .navbar
    &-top
      padding-top: 23px
      padding-bottom: 29px
  .hotel
    padding-top: 1px
  .breadcrumb
    &-list
      padding-top: 19px
      padding-bottom: 19px
  .stars
    margin-right: 13px
    margin-bottom: 4px
  .hotel
    padding-bottom: 0
    &__slider
      margin-bottom: 20px
    &-slider
      height: 179px
    &-info
      padding-bottom: 32px
      &__offer
        padding-left: 10px
        padding-right: 10px
  .booking
    min-width: 279px
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
